{
  "NVDA": {
    "price": 213.54,
    "fcf_per_share": 4.5,
    "roic": 55.0,
    "wacc": 10.0,
    "net_debt_ebitda": -0.6,
    "shares_cagr": -1.2,
    "sbc_ocf": 8.0
  },
  "JPM": {
    "price": 160.0,
    "eps": 17.2,
    "tbv_per_share": 98.0,
    "rotce": 19.5,
    "cet1_ratio": 15.2,
    "nco_ratio": 0.45,
    "shares_cagr": -1.2
  },
  "MSTR": {
    "price": 140.0,
    "fcf_per_share": -5.0,
    "shares_cagr": 18.0,
    "net_debt_ebitda": 8.5,
    "sbc_ocf": 45.0
  },
  "VIST": {
    "price": 32.0,
    "fcf_per_share": 8.5,
    "lifting_cost": 4.6,
    "breakeven_price": 35.0,
    "net_debt_ebitda_usd": 0.6,
    "dollarized_revenue_pct": 65.0,
    "roic": 27.0,
    "wacc": 13.0
  },
  "BRK.B": {
    "price": 350.0,
    "operating_earnings_per_share": 21.5,
    "excess_cash_per_share": 85.0,
    "float_cost": -0.5,
    "shares_cagr": -1.5
  },
  "GOOGL": {
    "price": 338.46,
    "fcf_per_share": 9.2,
    "roic": 30.5,
    "wacc": 9.0,
    "net_debt_ebitda": -0.9,
    "shares_cagr": -3.0,
    "sbc_ocf": 8.0
  },
  "TSLA": {
    "price": 210.0,
    "fcf_per_share": 1.2,
    "automotive_gross_margin": 14.6,
    "roic": 9.5,
    "wacc": 10.5
  },
  "V": {
    "price": 275.0,
    "fcf_per_share": 10.5,
    "roic": 52.0,
    "wacc": 8.5,
    "net_debt_ebitda": 0.6,
    "shares_cagr": -2.0,
    "sbc_ocf": 4.5
  },
  "COST": {
    "price": 860.0,
    "fcf_per_share": 19.5,
    "roic": 22.0,
    "wacc": 7.8,
    "net_debt_ebitda": -0.4,
    "shares_cagr": -0.2,
    "sbc_ocf": 5.0
  },
  "CAT": {
    "price": 345.0,
    "fcf_per_share": 21.0,
    "industrial_net_debt_ebitda": 0.8,
    "roic": 24.0,
    "wacc": 8.6,
    "shares_cagr": -2.8
  },
  "AMZN": {
    "price": 258.51,
    "fcf_per_share": 6.8,
    "roic": 19.5,
    "wacc": 9.0,
    "net_debt_ebitda": 0.6,
    "shares_cagr": 0.3,
    "sbc_ocf": 14.0
  },
  "MU": {
    "price": 105.0,
    "fcf_per_share": -2.0,
    "roic": 4.0,
    "wacc": 10.0
  },
  "DE": {
    "price": 380.0,
    "fcf_per_share": 24.0,
    "industrial_net_debt_ebitda": 0.9,
    "roic": 22.0,
    "wacc": 8.5,
    "shares_cagr": -3.5
  },
  "TSM": {
    "price": 428.91,
    "fcf_per_share": 18.0,
    "roic": 53.96,
    "wacc": 11.0,
    "net_debt_ebitda": -0.5,
    "shares_cagr": 0.01,
    "sbc_ocf": 0.03
  },
  "MRK": {
    "price": 115.0,
    "fcf_per_share": 7.1,
    "roic": 22.0,
    "wacc": 8.0,
    "net_debt_ebitda": 1.3,
    "shares_cagr": -0.5,
    "sbc_ocf": 3.0
  },
  "META": {
    "price": 616.77,
    "fcf_per_share": 24.0,
    "roic": 29.0,
    "wacc": 9.5,
    "net_debt_ebitda": -0.5,
    "shares_cagr": -3.1,
    "sbc_ocf": 9.0
  },
  "MSFT": {
    "price": 425.0,
    "fcf_per_share": 13.5,
    "roic": 31.0,
    "wacc": 8.8,
    "net_debt_ebitda": 0.2,
    "shares_cagr": -0.8,
    "sbc_ocf": 9.2
  },
  "AMAT": {
    "price": 205.0,
    "fcf_per_share": 9.8,
    "roic": 34.0,
    "wacc": 9.0,
    "net_debt_ebitda": -0.2,
    "shares_cagr": -2.4,
    "sbc_ocf": 5.5
  },
  "MELI": {
    "price": 1950.0,
    "fcf_per_share": 75.0,
    "roic": 24.0,
    "wacc": 11.5,
    "net_debt_ebitda": 0.8,
    "shares_cagr": 0.0,
    "sbc_ocf": 7.5
  },
  "PLTR": {
    "price": 171.71,
    "fcf_per_share": 0.35,
    "sbc_ocf": 28.0,
    "shares_cagr": 4.5
  }
}